Django==1.11
Pillow
pytz
-e git+https://github.com/pjdelport/django-voting.git#egg=django-voting
django-taggit
python-social-auth==0.3.6
pip install social-auth-app-django==3.1.0
django-coffeescript
sorl-thumbnail
psycopg2
django-grappelli
vk==2.0.2
pyfaceb
requests==2.20.0
LinkExchange.Django
LinkExchange
sape
-e git+https://github.com/Marx86/supercaptcha.git#egg=supercaptcha
BeautifulSoup
django_compressor
django-redis
django-filer
django-ckeditor
django-hvad==1.8.0
