Django
PIL
south
pytz
django-voting
django-taggit
django-social-auth
django-coffeescript
sorl-thumbnail
psycopg2
django-grappelli
vkontakte
pyfaceb
requests==0.14.2
LinkExchange.Django
LinkExchange
sape
django_compressor
