Django==1.6.9
Pillow
south
pytz
django-voting
django-taggit
python-social-auth==0.3.6
django-coffeescript
sorl-thumbnail
psycopg2
django-grappelli
vk==2.0.2
pyfaceb
requests==0.14.2
LinkExchange.Django
LinkExchange
sape
-e git+https://github.com/Marx86/supercaptcha.git#egg=supercaptcha
BeautifulSoup
django_compressor
django-redis
django-filer
django-ckeditor
django-hvad==1.5.1
