{% extends "base.html" %}
{% load coretags %}
{% load thumbnail %}

{% block content %}
<script type="text/javascript">
$(function() {
  $( "#id_bdate" ).datepicker({dateFormat: 'dd.mm.yy'});
});
</script>

<h4>{{ user.username }}</h4>
{% if not user.social_auth.all %}
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table table-bordered table-hover table-profile">
  <tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
  </tr>
  <tr>
    <td>{{ form.first_name.label_tag }}</td>
    <td>{{ form.first_name }}</td>
  </tr>
  <tr>
    <td>{{ form.last_name.label_tag }}</td>
    <td>{{ form.last_name }}</td>
  </tr>
  <tr>
    <td>{{ form.avatar.label_tag }}</td>
    <td>{{ form.avatar }}
    <br />
    <img src="{{ user.profile.avatar.url }}" width="50" height="50" />
    {{ form.delete_avatar }} Удалить</td>
  </tr>
  <tr>
    <td>{{ form.bdate.label_tag }}</td>
    <td>{{ form.bdate }}</td>
  </tr>
  <tr>
    <td>{{ form.sex.label_tag }}</td>
    <td>{{ form.sex }}</td>
  </tr>
  <tr>
    <td>{{ form.location.label_tag }}</td>
    <td>{{ form.location }}</td>
  </tr>
  <tr>
    <td>{{ form.timezone.label_tag }}</td>
    <td>{{ form.timezone }}</td>
  </tr>
  <tr>
    <td>{{ form.signature.label_tag }}</td>
    <td>{{ form.signature }}</td>
  </tr>
  </table>
  <input type="submit" class="btn" value="Сохранить" />
</form>
{% else %}

<b>{{ user.username }}</b><br />
{{ user.get_full_name }}<br />
<img src="{{ user.profile.avatar.url }}" />
{{ form.email.label_tag }}: {{ user.email }}<br />
{{ form.bdate.label_tag }}: {{ user.profile.bdate }}<br />
{{ form.sex.label_tag }}: {{ user.profile.sex }}<br />
{{ form.location.label_tag }}: {{ user.profile.location }}<br />
{{ form.timezone.label_tag }}: {{ user.profile.timezone }}<br />
{{ form.signature.label_tag }}: {{ user.profile.signature }}<br />


{% endif %}

{% endblock %}
