body {
    background: #e0e0e0;
    font-size: 10pt;
    cursor: url("../img/cursor.png"), default;
}

.blog-list-header a {
    text-shadow: 0 1px 0 #fff;
}

.blog-list-header a:hover {
    text-decoration: none;
    cursor: pointer;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1000;
    top: 40px;
}

.background-image {
    width: 100%;
}

.row {
    position: relative;
}

.content {
    z-index: 1;
    padding: 50px 10px 10px 10px;
}

.wrapper {
    background: #e0e0e0;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    z-index: -777;
    border: #fff;
    box-shadow: 0 0 10px 7px #000;
    -moz-box-shadow: 0 0 10px 7px #000;
    -webkit-box-shadow: 0 0 10px 7px #000;
    -khtml-box-shadow: 0 0 10px 7px #000;
    -o-box-shadow: 0 0 10px 7px #000;
    -ms-box-shadow: 0 0 10px 7px #000;
    padding-top: 5px;
}


.no-display {
    display: none;
}

.linebreack {
    border-bottom: 1px solid #777;
    box-shadow: 0 1px 0 #fff;
    margin-bottom: 30px !important;
}

.blog-list {
    margin: 5px;
}

.blog-list-footer {
    font-size: 70%;
}

.navbar-inverse {
    box-shadow: 0 3px 10px #000;
    -moz-box-shadow: 0 3px 10px #000;
    -webkit-box-shadow: 0 3px 10px #000;
    -khtml-box-shadow: 0 3px 10px #000;
    -o-box-shadow: 0 3px 10px #000;
    -ms-box-shadow: 0 3px 10px #000;
}


.breadcrumb {
    z-index: 30;
    border: 1px solid #fff;
    box-shadow: 0 0 17px #658 inset;
    -moz-box-shadow: 0 0 17px #658 inset;
    -webkit-box-shadow: 0 0 17px #658 inset;
    -khtml-box-shadow: 0 0 17px #658 inset;
    -o-box-shadow: 0 0 17px #658 inset;
    -ms-box-shadow: 0 0 17px #658 inset;
    margin: 5px;
}

.blog-list-header h4 {
    color: #000;
}

.blog-time {
    padding-right: 10px;
    color: #777;
}

.video {
    text-align: center;
    padding: 10px;
}

.blog-images {
    text-align: center;
}

.blog-images img {
    margin: 5px;
}

.blog-images div {
    border: 1px solid #fff;
    box-shadow: 0 1px 3px #000 inset;
    -moz-box-shadow: 0 1px 3px #000 inset;
    -webkit-box-shadow: 0 1px 3px #000 inset;
    -khtml-box-shadow: 0 1px 3px #000 inset;
    -o-box-shadow: 0 1px 3px #000 inset;
    -ms-box-shadow: 0 1px 3px #000 inset;
    display: inline-block;
    background: #777;
    padding: 4px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
