{% extends "base.html" %}
{% load coretags %}
{% load thumbnail %}

{% block content %}
    <div class="blog-detail content-detail">
      <div class="blog-detail-header content-detail-header">
        <h4>{{ content.title }}</h4>
      </div>
      <div class="blog-detail-body content-detail-body">
        <div class="blog-author content-author">Posted by {% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} on {{ content.create_time }}</div>
        {% vote %}
        <br />
        <div class="blog-detail-body-content content-detail-body-content">
          {{ content.body|safe }}
        </div>
	<div class="blog-images">
	  {% for im in content.front_images %}
	    {% thumbnail im.image content.image_size as i %}
	      <a rel="prettyPhoto[{{ content.slug }}]" href="{{ im.image.url }}" title="{{ im.image.title }}">
		<div style="height: {{ content.image_width }}px; width: {{ content.image_width }}px;">
		  <img style="margin:{{ i|margin:content.image_size }};" class="blog-image" src="{{ i.url }}" style="max-width: {{ content.image_size }}px; width: {{ content.image_size_precent }}%;">
		</div>
	      </a>
	    {% endthumbnail %}

	    {% if forloop.counter|divisibleby:content.image_rows %}
	      <br />
	    {% endif %}
	  {% endfor %}
	</div>
          {% if content.embed_video %}
	    <div class="video">
	      {{ content.embed_video|safe }}
	    </div>
	  {% endif %}
        <div class="blog-detail-footer content-detail-footer">
        {% if content.tags.all %}
        <span class="float-left">
        <small>
          Tags:
          {% for t in content.tags.all %}
            <a href="/tag/{{ t.slug }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>
        </span>
        {% endif %}
        <div class="btn-group">
          {% if user.is_authenticated %}
            <a class="btn" href="#comment_form">Add Comment</a>
          {% endif %}
          {% comment %}        <small><a class="btn" href="#">{% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} blog</a></small>{% endcomment %}
        </div>
        </div>
      </div>
    <a name="comments"></a>
    {% for comment in comments %}
      <div class="comment-author">
        {% if comment.user.get_full_name %}
          {{ comment.user.get_full_name }}
        {% else %}
          {{ commnt.user.username }}
        {% endif %}
      </div>
      <div class="comment-info">
        {{ comment.create_time }}
      </div>
      <h3>{{ comment.title|striptags|linebreaks }}</h3>
      <div class="comment-body">
        {{ comment.body|striptags|linebreaks }}
      </div>
    {% endfor %}

    <a name="comment_form"></a>
    <br>
    {% if user.is_authenticated %}
      <textarea></textarea>
    {% else %}
      <ul>
        <li><a href="{% url "socialauth_begin" "facebook" %}?next={{ request.META.PATH_INFO }}" class="facebook" title="Login via facebook">FB</a></li>
        <li><a href="{% url "socialauth_begin" "vkontakte-oauth2" %}?next={{ request.META.PATH_INFO }}" class="vkontakte" title="Login via vkontakte">VK</a></li>
        <li><a href="{% url "login" %}?next={{ request.META.PATH_INFO }}">Login</a></li>
      </ul>
    {% endif %}
    </div>
{% endblock %}
