{% extends "base.html" %}
{% load coretags %}
{% load thumbnail %}

{% block content %}
    <div class="blog-detail content-detail">
      <div class="blog-detail-header content-detail-header">
        <h4>{{ content.title }}</h4>
      </div>
      <div class="blog-detail-body content-detail-body">
        <div class="blog-author content-author">Posted by {% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} on {{ content.create_time }}</div>
        {% vote %}
        <br />
        <div class="blog-detail-body-content content-detail-body-content">
          {{ content.body|safe }}
        </div>
	<div class="blog-images">
	  {% for im in content.images %}
	    {% thumbnail im.image content.image_size as i %}
<!--	      <div class="thumbnail-container">-->
              <a rel="prettyPhoto[{{ content.slug }}]" class="thumbnail-img" href="{{ im.image.url }}" title="{{ im.title }}">
		{% if content.image_rows != 1 and row.image_rows != 2 %}
		  <div style="height: {{ content.image_width }}px; width: {{ content.image_width }}px;">
                {% endif %}
                <img {% if content.image_rows != 1 and row.image_rows != 2 %}style="margin:{{ i|margin:content.image_size }};"{% endif %} class="blog-image" src="{{ i.url }}" style="max-width: {{ content.image_size }}px; width: {{ content.image_size_precent }}%;" />
                {% if content.image_rows != 1 and row.image_rows != 2 %}
		  </div>
                {% endif %}
		</a>
<!--		<br>
		{% if im.title %}
		  {{ im.title }}
		{% else %}
		  &nbsp;
		{% endif %}
	      </div>-->
	    {% endthumbnail %}

	    {% if forloop.counter|divisibleby:content.image_rows %}
	      <br />
	    {% endif %}
	  {% endfor %}
	</div>
          {% if content.embed_video %}
	    <div class="video">
	      {{ content.embed_video|safe }}
	    </div>
	  {% endif %}
        <div class="blog-detail-footer content-detail-footer">
        {% if content.tags.all %}
        <span class="float-left">
        <small>
          Тэги:
          {% for t in content.tags.all %}
            <a href="/tag/{{ t.slug }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>
        </span>
        {% endif %}
        <div class="btn-group">
          {% comment %}{% if user.is_authenticated %}{% endcomment %}
            <a class="btn" href="#comment_form">Добавить коментарий</a>
          {% comment %}{% endif %}{% endcomment %}
          {% comment %}        <small><a class="btn" href="#">{% if content.user.first_name or content.user.last_name %}{{ content.user.first_name }} {{ content.user.last_name }}{% else %}{{ content.user.username }}{% endif %} blog</a></small>{% endcomment %}
        </div>
        </div>
      </div>
    <a name="comments"></a>
    {% for comment in comments %}
      <div class="comment">
        <div class="comment-info">
            {% if comment.user.get_full_name %}
              {{ comment.user.get_full_name }}
            {% else %}
              {{ comment.user.username }}
            {% endif %}
          <span class="text-right comment-time">
            {{ comment.create_time }}
          </span>
        </div>
        {% if comment.user.profile %}
          <img src="{{ comment.user.profile.avatar.url }}" class="img-rounded img-polaroid avatar" />
        {% endif %}
{% comment %}        <h3>{{ comment.title }}</h3>{% endcomment %}
        <div class="comment-body">
            {{ comment.body|striptags|linebreaks }}
        </div>
        <div class="signature">
          {% if comment.user.profile %}
            {{ comment.user.profile.signature|striptags }}
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <a name="comment_form"></a>
    <br>
    {% if user.is_authenticated %}
      <div class="add-comment">
        <form method="post" action="">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <div class="text-left">
            <input type="submit" class="btn" value="Отправить"></input>
          </div>
        </form>
      </div>
    {% else %}
      Пожалуйста войдите, что-бы оставить коментарий:
      <a href="{% url "socialauth_begin" "facebook" %}?next={{ request.META.PATH_INFO }}" class="facebook" title="Войти через facebook"><img src="{{ static_prefix }}img/facebook.png" alt="FB" border="0" width="22" height="22" /></a>
      <a href="{% url "socialauth_begin" "vkontakte-oauth2" %}?next={{ request.META.PATH_INFO }}" class="vkontakte" title="Войти через vkontakte"><img src="{{ static_prefix }}img/vkontakte.png" alt="VK" border="0" width="22" height="22" /></a>
      <a href="{% url "login" %}?next={{ request.META.PATH_INFO }}">Войти</a>
      <a href="{% url "registration" %}?next={{ request.META.PATH_INFO }}">Регистрация</a>
    {% endif %}
    </div>
{% endblock %}
