<!DOCTYPE html>
<html>
{% load static %}
{% load coretags %}
{% load radiotags %}
{% load compile_static %}
{% load linkexchange_tags %}
{% load compress %}
{% get_static_prefix as static_prefix %}
<head>
    <title>{% meta "title" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta content="{% meta "title" %}" property="og:title" />
    <meta content="{% meta "description" %}" property="og:description" />
    <meta content="{% meta "description" %}" name="description" />
    <meta name="keywords" content="{% meta "keywords" %}мода, стиль, fashion, одежда, модницы, лос, анжелес, обувь, модели, супермодели, сумки, шик, chic, джинсы, victoria's, secret, брюки, юбки, звезды, знаменитости, fashion, style" />
    {% meta "image" as meta_image %}
    {{ meta_image|safe }}
    <meta name='yandex-verification' content='7ac77779f12b7717' />
    <link rel="author" title="Maxim Starodubcev" href="mailto: (author) maxim@trambroid.com">
    <script type="text/javascript">
//         if (window.location.protocol.split(':')[0] == 'http') { 
//             window.location.protocol = 'https';
//         }
    </script>
    {% compress js %}
    <script type="text/javascript" src="{{ static_prefix }}js/jquery.js"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{{ static_prefix }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static_prefix }}js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{ static_prefix }}js/jquery-ui.js"></script>
    {% endcompress %}
    {% compress js %}
    <script src="{% static "coffee/ajax.coffee"|compile %}"></script>
    <script src="{% static "coffee/navigation.coffee"|compile %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?97" async defer></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?101" async defer></script>
    <script type="text/javascript">
        VK.init({apiId: 3520788, onlyWidgets: true});
    </script>
    {% compress css %}
    <link rel="stylesheet" href="{{ static_prefix }}css/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ static_prefix }}css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ static_prefix }}css/bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ static_prefix }}css/prettyPhoto.css" type="text/css"/>
    <link rel="stylesheet" href="{{ static_prefix }}css/style.css" type="text/css"/>
    {% endcompress %}
</head>

<body>
<header>
<!--s_links--><!--f485b75b9228d78ed859121ee216bfc4--><!--/s_links-->
<!--6d6e10342d591fd102032427afb42eca-->
<!--2A5094D1CB093199E5A114632383F2AC-->
{% menubar %}
</header>
<div class="container">

<!--www.people-group.net-->
<!--script type="text/javascript">(function() { var pgs = document.createElement('script'); pgs.type = 'text/javascript'; pgs.async = true; pgs.src = ("https:" == document.location.protocol ? "https" : "http") + '://ads.people-group.net/217383/1/1/'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pgs, s); })();</script-->
<!--www.people-group.net-->

  <div class="row">
    <div class="wrapper"> </div>
    <div class="content">
    <div class="adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Anny -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8023676454479864"
         data-ad-slot="4244532633">
      </ins>
      <!--script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script-->

      <!-- Anny_small -->
      <ins class="adsbygoogle"
        style="display:inline-block;width:320px;height:100px"
        data-ad-client="ca-pub-8023676454479864"
        data-ad-slot="1257954639">
      </ins>
      <!--script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script-->

<!--
      <div id="vk_groups"></div>
      <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 1, width: "210", height: "20"}, 58771103);
      </script>
-->
    </div>
    <div id="container">
      <div class="text-center advertisement-links" style="margin: -7px;">
          {% links as marketing_links %}
          {% setlinks as marketing_setlinks %}
          <strong>Реклама: </strong>
          {% for link in linkexchange_filter %}
              {% if link != '<div></div>' %}{{ link|safe }}{% endif %}
          {% endfor %}

          {{ marketing_links|safe }}
          <span style="font-size: 10px; padding: 0;">{{ marketing_setlinks|safe }}</span>
      </div>

      <nav>{% breadcrump %}</nav>

      <!-- FACEBOOK LIKE -->
	  <div id="fb-root"></div>
	  <script >
	    (function(d, s, id) {
	      var js, fjs = d.getElementsByTagName(s)[0];
	      if (d.getElementById(id)) return;
	      js = d.createElement(s); js.id = id;
	      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=109078182619594";
	      fjs.parentNode.insertBefore(js, fjs);
	    }(document, 'script', 'facebook-jssdk'));
	  </script>
	  <div class="fb-like float-right" data-href="https://follow-chic.com/" data-send="false" data-width="450" data-show-faces="true" data-layout="button_count"></div>


      <!-- VKONTAKTE LIKE -->
	  <div id="vk_like" class="float-right"></div>
	  <script type="text/javascript">
	    VK.Widgets.Like("vk_like", {type: "button", height: 18, pageTitle: "Anny", pageDescription: "Шик по последней моде! Следи за модой!", pageUrl: "https://follow-chic.com/", pageImage: "https://follow-chic.com/img/logo.png"});
	  </script>

      <!-- GOOGLE PLUS -->
      <div style="float: right">
          <div class="g-plusone" data-size="medium" data-href="https://follow-chic.com" data-align="right"></div>
      </div>
      <script type="text/javascript">
          window.___gcfg = {lang: 'ru'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
      </script>




	<script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto({
                social_tools: false,
                default_width: 500,
                default_height: 344
            });
          });
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter20829157 = new Ya.Metrika({id:20829157,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/20829157" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <!--google analytics-->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-39908228-1', 'follow-chic.com');
          ga('send', 'pageview');

        </script>
        <!--/google analytics-->
        {% block content %}{% endblock %}
        {% include "paginator.html" %}
      </div>

      <!-- Anny -->
      <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8023676454479864"
         data-ad-slot="4244532633">
      </ins>
      <!--script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script-->

      <!-- Anny_small -->
      <ins class="adsbygoogle"
        style="display:inline-block;width:320px;height:100px"
        data-ad-client="ca-pub-8023676454479864"
        data-ad-slot="1257954639">
      </ins>

    </div>
    <footer class="footer shadowed-text">
      Powered by Django.
    </footer>
  </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top nav-footer">
  <div class="navbar-inner">
    <div class="container">
      <div class="transition">
        <span class="frow1">№ 1</span>
        <br />
        <span class="frow2">в мире</span>
        <br />
        <span class="frow3">моды</span>
      </div>
      <ul class="nav">
        <li><a href="/article/karl-otto-lagerfeld/" class="ajax-nav">Karl Otto Lagerfeld</a></li>
        <li><a href="/article/roberto-cavalli/" class="ajax-nav">Roberto Cavalli</a></li>
        <li><a href="/article/giorgio-armani/" class="ajax-nav">Giorgio Armani</a></li>
        <li><a href="/article/hubert-james-marcel-taffin-de-givenchy/" class="ajax-nav">Hubert de Givenchy</a></li>
        <li><a href="#" class="ajax-nav">Yves Saint Laurent</a></li>
      </ul>
    </div>
  </div>
</div>

<aside>
  <div class="background">
    <img class="background-image" src="{{ static_prefix }}img/background_bw.jpeg">
  </div>
  <!--6d6e10342d591fd102032427afb42eca-->
  <div class="preloader hide">
    <div>
      <div class="ball"></div>
      <div class="ball1"></div>
    </div>
  </div>
</aside>

<script>
    $('ins.adsbygoogle').each(function() {
        (adsbygoogle = window.adsbygoogle || []).push({});
    });
</script>

</body>
</html>
