{% extends "base.html" %}
{% load static %}

{% block content %}

{% if board_count %}

<h3 style="color: red;">Количество целых досок: {{ board_count }}</h3>

{% endif %}

<form method="post" action="{% url "laminat" %}" style="float: left;">
{% csrf_token %}
<table>
<tr>
    <td>Размер доски 1: &nbsp;</td>
    <td> <input type="text" name="board_w" value="{{ board.0 }}" /> мм.</td>
</tr>
<tr>
    <td>Размер доски 2: &nbsp;</td>
    <td> <input type="text" name="board_h" value="{{ board.1 }}" /> мм.</td>
</tr>
<tr>
    <td>Размер комнаты 1: &nbsp;</td>
    <td> <input type="text" name="room_w" value="{{ room.0 }}" /> мм.</td>
</tr>
<tr>
    <td>Размер комнаты 2: &nbsp;</td>
    <td> <input type="text" name="room_h" value="{{ room.1 }}" /> мм.</td>
</tr>
</table>

<input type="submit" value="Посчитать" class="btn" />
</form>

<img src="{% get_media_prefix %}img/room.png" style="margin-left: 30px;" />


{% endblock %}

