{% load static %}

{% get_static_prefix as static_prefix %}

<script type="text/javascript">
function digitalWatch() {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    //     var seconds = date.getSeconds();
    if (hours < 10) hours = "0" + hours;
    if (minutes < 10) minutes = "0" + minutes;
    //     if (seconds < 10) seconds = "0" + seconds;
    document.getElementById("digital_watch").innerHTML = hours + ":" + minutes;/* + ":" + seconds;*/
    setTimeout("digitalWatch()", 10000);
}

$(document).ready(function() {
    digitalWatch();
});
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="django-powered">
    <div class="powered">Powered by</div>
    Django
  </div>
<!--<img class="django-powered" src="{{ static_prefix }}img/django_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." />-->
  <div class="navbar-inner">
    <div class="container">
      <nav>
      <a class="brand animate-link" href="/">{{ admin.0 }}</a>
<!--      <ul class="nav">
        {% for section in sections %}
          <li {% if section.slug == current_section %}class="active"{% endif %}><a href="{{ section.url }}">{{ section.title }}</a></li>
        {% endfor %}
      </ul>-->
      <span>
      <ul class="nav">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}<li><a class="animate-link" href="{% url "admin:index" %}">Админка</a></li>{% endif %}
          <li><a class="animate-link" href="{% url "profile" %}" title="My profile">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</a></li>
          <li><a class="animate-link" href="{% url "logout" %}">Выйти</a></li>
        {% else %}
          <!--<li class="btn disabled">Вы не вошли.</li>-->
          
          <li><a class="animate-link" href="{% url "socialauth_begin" "facebook" %}?{% if redirect_querystring %}{{ redirect_querystring }}{% else %}next={{ request.META.PATH_INFO }}{% endif %}" class="facebook" title="Login via facebook"><img src="{{ static_prefix }}img/facebook.png" alt="FB" border="0" width="22" height="22" /></a></li>
          <li><a class="animate-link" href="{% url "socialauth_begin" "vkontakte-oauth2" %}?{% if redirect_querystring %}{{ redirect_querystring }}{% else %}next={{ request.META.PATH_INFO }}{% endif %}" class="vkontakte" title="Login via vkontakte"><img src="{{ static_prefix }}img/vkontakte.png" alt="VK" border="0" width="22" height="22" /></a></li>
          <li><a class="animate-link" href="{% url "login" %}?{% if redirect_querystring %}{{ redirect_querystring }}{% else %}next={{ request.META.PATH_INFO }}{% endif %}">Войти</a></li>
          <li><a class="animate-link" href="{% url "registration" %}?{% if redirect_querystring %}{{ redirect_querystring }}{% else %}next={{ request.META.PATH_INFO }}{% endif %}">Регистрация</a></li>
        {% endif %}
        <li><a class="email animate-link" href="mailto:{{ admin.1 }}" title="Написать письмо {{ admin.0 }}"><img src="{{ static_prefix }}img/email_hover.png" alt="Написать {{ admin.0 }}" /><img class="hover-img" src="{{ static_prefix }}img/email.png" alt="Написать {{ admin.0 }}" /></a></li>
        <li><div id="digital_watch" class="animate-link">00:00</div></li>
      </ul>
      </span>
      <div class="soul">
        Необходимо помнить о красоте душевной!
      </div>
      </nav>
    </div>
  </div>
</div>
